{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
        "title": "NetworkManagementClient",
        "version": "2018-12-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/azureFirewallFqdnTag.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "network-azureFirewallFqdnTag",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureFirewallFqdnTags": {
            "get": {
                "description": "Gets all the Azure Firewall FQDN Tags in a subscription.",
                "operationId": "AzureFirewallFqdnTags_ListAll",
                "parameters": [
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. The operation returns a list of Azure Firewall FQDN Tag resources.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Response for ListAzureFirewallFqdnTags API service call.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URL to get the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of Azure Firewall FQDN Tags in a resource group.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Common resource representation.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource ID.",
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location.",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Resource type.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Azure Firewall FQDN Tag Resource",
                                                "properties": {
                                                    "etag": {
                                                        "description": "Gets a unique read-only string that changes whenever the resource is updated.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "x-ms-client-flatten": true,
                                                        "description": "Azure Firewall FQDN Tag Properties",
                                                        "properties": {
                                                            "fqdnTagName": {
                                                                "description": "The name of this FQDN Tag.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The provisioning state of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "AzureFirewallFqdnTags"
                ],
                "x-ms-examples": {
                    "List all Azure Firewall FQDN Tags for a given subscription": {
                        "parameters": {
                            "api-version": "2018-12-01",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "etag": "w/\\00000000-0000-0000-0000-000000000000\\",
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewallFqdnTags/azfwfqdntag",
                                            "location": "West US",
                                            "name": "azfwfqdntag",
                                            "properties": {
                                                "fqdnTagName": "azfwfqdntag",
                                                "provisioningState": "Succeeded"
                                            },
                                            "tags": {
                                                "key1": "value1"
                                            },
                                            "type": "Microsoft.Network/azureFirewallFqdnTags"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AzureFirewallFqdnTag": {
                "allOf": [
                    {
                        "description": "Common resource representation.",
                        "properties": {
                            "id": {
                                "description": "Resource ID.",
                                "type": "string"
                            },
                            "location": {
                                "description": "Resource location.",
                                "type": "string"
                            },
                            "name": {
                                "description": "Resource name.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "tags": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Resource tags.",
                                "type": "object"
                            },
                            "type": {
                                "description": "Resource type.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "x-ms-azure-resource": true,
                        "type": "object"
                    }
                ],
                "description": "Azure Firewall FQDN Tag Resource",
                "properties": {
                    "etag": {
                        "description": "Gets a unique read-only string that changes whenever the resource is updated.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "properties": {
                        "x-ms-client-flatten": true,
                        "description": "Azure Firewall FQDN Tag Properties",
                        "properties": {
                            "fqdnTagName": {
                                "description": "The name of this FQDN Tag.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "provisioningState": {
                                "description": "The provisioning state of the resource.",
                                "readOnly": true,
                                "type": "string"
                            }
                        }
                    }
                },
                "type": "object"
            },
            "AzureFirewallFqdnTagListResult": {
                "description": "Response for ListAzureFirewallFqdnTags API service call.",
                "properties": {
                    "nextLink": {
                        "description": "URL to get the next set of results.",
                        "type": "string"
                    },
                    "value": {
                        "description": "List of Azure Firewall FQDN Tags in a resource group.",
                        "items": {
                            "allOf": [
                                {
                                    "description": "Common resource representation.",
                                    "properties": {
                                        "id": {
                                            "description": "Resource ID.",
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "Resource location.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Resource name.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "tags": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "Resource tags.",
                                            "type": "object"
                                        },
                                        "type": {
                                            "description": "Resource type.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            ],
                            "description": "Azure Firewall FQDN Tag Resource",
                            "properties": {
                                "etag": {
                                    "description": "Gets a unique read-only string that changes whenever the resource is updated.",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "properties": {
                                    "x-ms-client-flatten": true,
                                    "description": "Azure Firewall FQDN Tag Properties",
                                    "properties": {
                                        "fqdnTagName": {
                                            "description": "The name of this FQDN Tag.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "provisioningState": {
                                            "description": "The provisioning state of the resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "AzureFirewallFqdnTagPropertiesFormat": {
                "description": "Azure Firewall FQDN Tag Properties",
                "properties": {
                    "fqdnTagName": {
                        "description": "The name of this FQDN Tag.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "provisioningState": {
                        "description": "The provisioning state of the resource.",
                        "readOnly": true,
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "ApiVersionParameter": {
                "description": "Client API version.",
                "in": "query",
                "name": "api-version",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "SubscriptionIdParameter": {
                "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                "in": "path",
                "name": "subscriptionId",
                "required": true,
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    }
}